<h1>Triangle Party</h1>
<!-- <% babyAngle = Triangle.new(@side1,@side2,@side3) %> -->
<% if @not_a_triangle %>
"not a triangle"
<% elsif @equilateral %>
"that's an equilateral triangle"
<% elsif @isosceles %>
"that's an isosceles triangle"
<% elsif @scalene %>
"that's an scalene triangle"
<%end%>



<!-- <% babyAngle = Triangle.new(@side1,@side2,@side3).equilateral? %>
"thats an equilateral triangle"  -->
